body{
    text-align: center;
    overflow: hidden;
    
}
.main{
    height: 875px;
    background: linear-gradient(to bottom right, #80CBC4 0%, #EF9A9A 100%);
   
}
h1{
    font-family: 'Arizonia'; 
    font-size: 50px;
    background-color: #424242;
    color: white;
}
h3{
    font-family: 'Bungee Shade';
    font-size: 25px;
    color:#880E4F;
}
input{
    height: 30px;
    width: 300px;
    border: 3px solid #880E4F;
    font-family: 'Caveat Brush';
    font-size: 20px;
}
button{
    height: 34px;
    border-radius: 20px;
    background-color: #880E4F;
    color: white;
}
.btn{
    border: none;
    background: linear-gradient(to bottom right, #c8f5f0 0%, #bea4a4 100%) ;
    
}
li{
    font-size: 24px;
    font-family: 'Caveat Brush';
    
}
